/* general */
body {
  font-family: Roboto, sans-serif;
  color: #2e2f42;
  background-color: white;
}

h1,
h2,
h3,
p {
  margin: 0;
}
a {
  margin: 0;
  padding-left: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  display: flex;
}

img {
  display: block;
}

/* header */
.navigation-container {
  display: flex;
  align-items: center; /* vertical alignment */
  gap: 76px;
}

.navigation-list {
  display: flex; /* puts nav links in one row */
  gap: 40px;
  margin-left: auto;
}

.list-address {
  display: flex; /* puts nav links in one row */
  gap: 20px;
}

.address-container {
  display: flex;
  margin-left: auto; /* pushes address to the right */
  gap: 40px;
}

.list-address-li {
  padding: 10px;
}

.web-studio {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.1666666;
  font-family: Raleway;
  letter-spacing: 0.03em;
}

.header .web-studio {
  color: #2e2f42;
}

.web {
  color: #4d5ae5;
}

.navigation-list-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.list-address-a {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-decoration: none;
}

/* main: 'hero' section */
.hero-section {
  background-color: #2e2f42;
  color: white;
  padding: 188px 472px;
}

.hero-section .container {
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-header-1 {
  font-size: 56px;
  line-height: 1.071428;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  height: 120px;
}

.order-button {
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  width: 169px;
  height: 56px;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* main: 'our-features', 'our team', 'our portfolio' sections */
.our-features {
  padding: 120px 156px;
}

.our-features-list {
  display: flex;
  gap: 24px;
}

.our-features-li {
  width: calc(100%-72px) / 4;
}

.our-features-h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-features-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.our-team-h2,
.our-portfio-h2 {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.111111111111;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.1111111;
}

.our-team {
  background-color: #f4f4fd;
  padding: 120px 156px;
}

.our-team .container {
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  padding: 0;
}

.our-team-li {
  width: calc(100%-72px) / 4;
}

.our-portfio {
  padding: 120px 156px;
}

.our-portfio .container {
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  align-content: space-between;
}

.our-portfolio-list-li {
  width: calc(100%-48px) / 3;
}

.our-team-li {
  background-color: white;
}

.our-portfio-h3,
.our-team-h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-p,
.our-portfio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-h3,
.our-team-p {
  text-align: center;
}

.our-portfio-h3,
.our-portfio-p {
  text-align: left;
}

/* footer */
.footer-section {
  width: 100%;
  background-color: #2e2f42;
  padding: 100px 1020px 100px 156px;
}

.footer-section .container {
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.footer-p {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer .web-studio {
  color: #f4f4fd;
}

/*interaction with the page*/
a:hover,
a:focus {
  color: #404bbf;
}
