/* general */
body {
  font-family: Roboto, sans-serif;
  color: #2e2f42;
  background-color: white;
}

h1,
h2,
h3,
p {
  margin: 0;
}
a {
  margin: 0;
  padding-left: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

img {
  display: block;
}

/* header */
.header .container {
  display: flex;
}

.navigation-container {
  display: flex;
  align-items: center;
  gap: 76px;
}

.navigation-list {
  display: flex; /* puts nav links in one row */
  gap: 40px;
}

.list-address {
  display: flex; /* puts nav links in one row */
  gap: 20px;
}

.address-container {
  display: flex;
  margin-left: auto; /* pushes address to the right */
  gap: 40px;
}

.list-address-li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.web-studio {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.1666666;
  font-family: Raleway;
  letter-spacing: 0.03em;
}

.header .web-studio {
  color: #2e2f42;
}

.web {
  color: #4d5ae5;
}

.navigation-list-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.list-address-a {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-decoration: none;
}

/* main: 'hero' section */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.hero-section {
  background-color: #2e2f42;
  color: white;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-header-1 {
  font-size: 56px;
  line-height: 1.071428;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  height: 120px;
}

.order-button {
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* main: 'our-features', 'our team', 'our portfolio' sections */
.our-features {
  padding: 120px;
}

.our-features .container {
  display: flex;
}

.our-features-list {
  display: flex;
  gap: 24px;
}

.our-features-li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100%-72px) / 4);
}

.our-features-h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-features-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.our-team-h2,
.our-portfio-h2 {
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.111111111111;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.1111111;
}

.our-team {
  background-color: #f4f4fd;
  padding: 120px;
}

.our-team .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  padding: 0;
}

.our-team-li {
  width: (calc(100%-72px) / 4);
}

.our-portfio {
  padding: 120px;
}

.our-portfio .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding: 0;
  align-content: space-between;
}

.portfolio-content,
.team-content {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 8px;
}

.our-portfolio-list-li {
  width: calc((100%-48px) / 3);
}

.our-team-li {
  background-color: white;
}

.our-portfio-h3,
.our-team-h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-p,
.our-portfio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-h3,
.our-team-p {
  text-align: center;
}

.our-portfio-h3,
.our-portfio-p {
  text-align: left;
}

/* footer */
.footer {
  width: 100%;
  background-color: #2e2f42;
}

.footer .container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-p {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer .web-studio {
  color: #f4f4fd;
}

/*interaction with the page*/
a:hover,
a:focus {
  color: #404bbf;
}
